*.txt
*.mps
*.sol
*.cmd
*.code-workspace
**/__pycache__/
output/*
archive/*
solver/*
*/.ipynb_checkpoints/*
data/fplreview*
data/kiwi.csv
data/ftvamps.csv
data/sdtvamps.csv
data/jc_fanteam_model.csv
data/jc_fanteam_model_RAW.csv
data/TransferAlgorithm.csv
data/login.json
run/results/*.csv
data/team.json
run/HiGHS.log
