*.txt
*.mps
*.sol
*.cmd
*.code-workspace
**/__pycache__/
output/*
archive/*
solver/*
*/.ipynb_checkpoints/*
data/fplreview*
data/kiwi.csv
data/ftvamps*
data/sdtvamps*
data/jc_fanteam*
data/TransferAlgorithm.csv
data/login.json
run/results/*.csv
data/team.json
run/HiGHS.log
