{
    "picks": [
        {
            "element": 310,
            "selling_price": 55,
            "purchase_price": 55
        },
        {
            "element": 362,
            "selling_price": 55,
            "purchase_price": 55
        },
        {
            "element": 3,
            "selling_price": 60,
            "purchase_price": 60
        },
        {
            "element": 18,
            "selling_price": 60,
            "purchase_price": 60
        },
        {
            "element": 339,
            "selling_price": 60,
            "purchase_price": 60
        },
        {
            "element": 335,
            "selling_price": 60,
            "purchase_price": 60
        },
        {
            "element": 99,
            "selling_price": 70,
            "purchase_price": 70
        },
        {
            "element": 385,
            "selling_price": 70,
            "purchase_price": 70
        },
        {
            "element": 207,
            "selling_price": 75,
            "purchase_price": 75
        },
        {
            "element": 82,
            "selling_price": 75,
            "purchase_price": 75
        },
        {
            "element": 401,
            "selling_price": 85,
            "purchase_price": 85
        },
        {
            "element": 358,
            "selling_price": 55,
            "purchase_price": 55
        },
        {
            "element": 23,
            "selling_price": 70,
            "purchase_price": 70
        },
        {
            "element": 199,
            "selling_price": 70,
            "purchase_price": 70
        },
        {
            "element": 186,
            "selling_price": 70,
            "purchase_price": 70
        }
    ],
    "chips": [
        {
            "status_for_entry": "available",
            "played_by_entry": [],
            "name": "bboost",
            "number": 1,
            "start_event": 1,
            "stop_event": 38,
            "chip_type": "team",
            "is_pending": false
        },
        {
            "status_for_entry": "available",
            "played_by_entry": [],
            "name": "3xc",
            "number": 1,
            "start_event": 1,
            "stop_event": 38,
            "chip_type": "team",
            "is_pending": false
        }
    ],
    "transfers": {
        "limit": null,
        "made": 0,
        "bank": 10
    }
}